[submodule "nest-client-gateway"]
	path = nest-client-gateway
	url = https://github.com/Xpoch-Ticket/nest-client-gateway.git
[submodule "nest-orders-ms"]
	path = nest-orders-ms
	url = https://github.com/Xpoch-Ticket/nest-orders-ms.git
[submodule "nest-products-ms"]
	path = nest-products-ms
	url = https://github.com/Xpoch-Ticket/nest-products-ms.git
